.login-input > input {
    border: none !important;
    background-color: #ffffff !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    padding-left: 54px !important;
}
.login-input > input:focus {
    border: none !important;
    outline: none;
    box-shadow: none !important;
}
