.name-input input {
    border: none !important;
    background-color: #ffffff !important;
    border-radius: 0 !important;
    font-size: 14px !important;
}

.name-input.disable input {
    border: none !important;
    background-color: #f2f3f5 !important;
    border-radius: 0 !important;
    font-size: 14px !important;
}

.ant-form-item {
    margin-bottom: 5px;
}

.fromTop {
    background: #f2f3f5;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}
.ant-form-item:last-child {
    margin-bottom: 0;
}
.desc-text {
    border: none !important;
    background-color: #ffffff !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    resize: none;
    margin-top: 6px !important;
}

.textLeft {
    background: #f2f3f5;
    margin-bottom: 0 !important;
    padding-left: 20px;
}
.fromTop label {
    padding-right: 10px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #475266;
    line-height: 20px;
}
.fromTop label::after {
    display: none;
}

.textLeft label::after {
    display: none;
}
.textLeft .ant-checkbox-wrapper {
    width: 135px;
}
.textLeft.frist {
    background: #fff;
    padding-left: 0px;
}

.textLeft .ant-form-item-label {
    text-align: left;
    padding-left: 20px;
}

.textLeft.frist .ant-form-item-label {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #475266;
    font-weight: 600;
}
.textLeft.blue {
    background: #6595f4 !important;
    font-family: PingFangSC-Medium;
    font-size: 12px;
}
.textLeft.blue .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #6595f4;
}
.textLeft.blue .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fff;
    border-color: #fff;
}
.textLeft.blue .ant-form-item-label,
.textLeft.blue .ant-form-item-control-wrapper {
    line-height: 50px !important;
}

.textLeft.blue .ant-form-item-control {
    line-height: 50px !important;
}

.textLeft.blue .ant-form-item-label > label {
    color: #fff;
    font-weight: 600;
}
.ant-checkbox-wrapper {
    font-size: 12px;
}
.textLeft.blue .ant-checkbox-wrapper {
    color: #fff;
}

.textLeft.ant-row {
    border-bottom: 1px solid #d9d9d9;
}
.checkboxGroup.ant-row {
    border-bottom: 1px solid #d9d9d9;
}
.textLeft .anticon {
    float: right;
    margin: 14px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.hide {
    display: none;
}
.checkboxGroup-style {
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
}

.checkboxGroup-style .ant-checkbox-group-item {
    margin-right: 20px;
}
